.new-product {
  width: 60%;
  margin: 0 auto;
  background: purple;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 560px) {
  .new-product {
    width: 100%;
  }
}
