.productList-container{
  margin-top: 1rem;;
}
.productList-item{
  background-color: rgb(255, 249, 249);
  border-bottom: 1px solid rgba(0,0,0,.3);
  padding:.8rem 1rem;
}
.productList-item__info{
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.productList-item__name{
  font-family: oswald,sans-serif;
  font-size: 1.2rem;
}

.productList-item__percentage{
  font-family: 'roboto slab';
  font-size: 1.7rem;
}

.productList-item__delete{
  padding: .5rem 1.2rem;
  border-radius: 10px;
  background: rgb(208, 37, 37);
  color: white;
  outline: none;
  border: none;
  cursor:pointer;
}

.productList-item__delete:hover{
  background: rgb(175, 30, 30);
  
}

@media screen and (max-width:560px){
  .productList-item__info{
    flex-direction: column;
  }

  .productList-item__percentage{
    margin-bottom: 1rem;
  }

  .productList-item__delete{
    margin-top: .5rem;
  }
}