.product-box {
  border: 1px solid rgb(189, 188, 188);
  width: 232px;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

.product-box__product-image {
  margin-bottom: 0.7rem;
}

.product-box__product-info {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
  flex-grow: 1;
}

.product-box__product-name {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

.product-box__product-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: auto;
}

.product-box__product-price {
  font-family: "roboto slab", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.product-box__available-product {
  background: purple;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}

.product-box__available-product > * {
  color: rgb(245, 244, 244);
}
