.site-header{
  background:white;
  padding: 0 3rem;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 7px 1px rgba(0,0,0,.2);
  margin-bottom: 1rem;
  position: sticky;
  top:0;
}

.site-header__logo--link{
  text-decoration:none;
  font-family: Oswald, sans-serif;
  font-size: 1.8rem;
  color:purple;
}

@media screen and (max-width:560px){
  .site-header{
    flex-direction: column;
    justify-content: center;
  }

  .site-header__logo{
    margin-bottom: .5rem;
  }
}