.nav-bar{
  display: flex;
  justify-content: flex-end;
}

.nav-bar__item{
  list-style-type: none;
  margin: 0 20px;
}

.nav-bar__item__link{
  text-decoration: none;
  color: purple;
}

.nav-bar__item__link:hover{
  color: rgb(81, 1, 81)
}

.nav-bar__item__icon{
  padding: 0 .5rem;
}