.login-form-container {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-form-warning {
  position: absolute;
  top: 0;
  color: rgb(243, 35, 35);
  padding: 1rem;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.login-form {
  background-color: purple;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  width: 30%;
}

.login-form__header {
  color: rgb(255, 249, 249);
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-bottom: 1px solid;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: rgb(255, 249, 249);
}

.form-group > * {
  margin-bottom: 0.5rem;
}

.form-group > input,
.login-form__submit {
  outline: none;
  border: none;
  padding: 0.7rem;
  outline: none;
  font-size: 1.3rem;
}

.login-form__submit {
  width: 100%;
  margin-top: 1rem;
  background-color: #2ecc71;
  color: rgb(255, 249, 249);
}

.login-form__submit:hover {
  background-color: #21ab5a;
}


@media screen and (max-width:560px){
  .login-form{
    width:100%;
  }
}