.sidebar-container {
  min-height: calc(100vh - 80px);
  position: absolute ;
}

.sidebar {
  height:100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 80px;
  left:0;

  transition: all 500ms ease-in;
}

.sidebar__item {
  list-style-type: none;
}

.sidebar__item__link {
  display: block;
  width:150px;
  padding:1rem 1rem;
  text-decoration: none;
  color: purple;
  font-family: oswald, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  border-bottom: 1px solid gray;
  
}

.sidebar__item:nth-child(2){
  border-top: 1px solid gray;
}

.sidebar__toggle-item{
  list-style-type: none;
  font-size: 2rem;
  position:fixed;
  /* top: 90px; */
  left:175px;
  cursor:pointer;
}

.sidebar__toggle-icon {
  color: purple;
}

.inactive{
  transform: translateX(-180px);
}