.dashboard-container{
  display: flex;
  flex: 1 1 48%  
}
.profitable-products {
  width: 48%;
  margin-top: 2rem;
  background-color: purple;
  padding: 1rem;
  border-radius: 10px;
  height: 60vh;
}

.profitable-products__title {
  font-size: 1.5rem;
  color: rgba(255, 249, 249);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 249, 249);
}

.profitable-products__items {
  margin-top: 1rem;
  height:85%;
  overflow-y: scroll;
}

@media screen and (max-width: 560px){

.dashboard-container{ 
  flex-direction: column;
}

.profitable-products {
  width:100%;
  margin-bottom: 2rem;
}
}