.dashboard-item{
  background-color: rgb(255, 249, 249);
  border-bottom: 1px solid rgba(0,0,0,.3);
  padding:.8rem 1rem;
}
.dashboard-item__info{
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.dashboard-item__name{
  font-family: oswald,sans-serif;
  font-size: 1.2rem;
}

.dashboard-item__percentage{
  font-family: 'roboto slab';
  font-size: 1.7rem;
}