body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
section,
nav,
li,
ul,
nav,
article,
option,
form,
option,
select {
  margin: 0;
  padding: 0;
  font-family: roboto,sans-serif;
  box-sizing: border-box;
  color:rgb(54, 54, 54)
}
